{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}

<div class= "max-w-lg mx-auto">
    <form method ="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type = "submit" class = "mt-2 text-white w-full bg-gray-500 hover:bg-blue-400 px-3 py-2 rounded-md">Login</button>
    </form>
    <div class = "py-2 border-t border-gray-200 mt-5">
        <a class = "hover:text-blue-400" href="{% url 'reset-password' %}">Forgot password</a>
    </div>
</div>

{% endblock content %}
