{% extends 'base.html' %}
{% block content %}
{% include "navbar.html" %}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class= "w-full mb-6 py-6 flex justify-between item-center border-b border-grey-200">
        <div>
            <h1 class="text-4xl text-grey-800">Categories</h1>
        </div>
        <div>
            {% if request.user.is_organizer %}
                <a class = "#" href = "{% url 'leads:category-add' %}"> Add a new Category </a>
            {% endif %}
        </div>
    </div>  
    <div class="max-w-2xl mx-auto -m-4 w-full">
    <div class="overflow-x-auto ">
        <div class="w-full flex font-sans">
            <div class="w-full">
                <div class="bg-white shadow-md rounded my-6">
                    <table class="  min-w-max w-full table-auto">
                        <thead>
                            <tr class="bg-gray-800 text-white uppercase text-sm leading-normal">
                                <th class="py-3 px-6 text-center">Category</th>
                                {% if request.user.is_organizer %}
                                <th class="py-3 px-6 text-center">Edit</th>
                                {% else %}
                                <th class="py-3 px-6 text-center">View</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody class=" bg-gray-200 text-gray-600 text-sm font-light">
                          {% for category in category_list %}
                            <tr class="border-b border-gray-200 hover:bg-gray-500">
                                  <td class="py-3 px-6 text-center whitespace-nowrap">
                                    <a href ="{% url 'leads:category-detail' category.pk%}">
                                      <div class=" items-center">
                                          <span class="font-medium text-black">{{category.name}}</span>
                                      </div>
                                    </a>
                                  </td>
                                  <td class="py-3 px-6 text-center">
                                    <div class="flex item-center justify-center">
                                        <div class="w-4 mr-2 transform hover:text-blue-400 hover:scale-110">
                                        <a href  = "{% url 'leads:category-detail' category.pk %}">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                            </svg>
                                        </a>
                                        </div>
                                        {% if request.user.is_organizer %}
                                        <div class="w-4 mr-2 transform hover:text-red-500 hover:scale-110">
                                        <a href  = "{% url 'leads:category-delete' category.pk %}">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                            </svg>
                                        </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                          {% endfor %}
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</section>
{% endblock content %}

