{% extends 'base.html' %}
{% block content %}
{% include "navbar.html" %}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class= "w-full mb-6 py-6 flex justify-between item-center border-b border-grey-200">
        <div>
            <h1 class="text-4xl text-grey-800">Categories</h1>
        </div>
    </div>  
    <div class="max-w-2xl mx-auto -m-4 w-full">
    <div class="overflow-x-auto ">
        <div class="w-full flex font-sans">
            <div class="w-full">
                <div class="bg-white shadow-md rounded my-6">
                    <table class="  min-w-max w-full table-auto">
                        <thead>
                            <tr class="bg-gray-800 text-white uppercase text-sm leading-normal">
                                <th class="py-3 px-6 text-center">Category</th>
                            </tr>
                        </thead>
                        <tbody class=" bg-gray-200 text-gray-600 text-sm font-light">
                          {% for category in category_list %}
                            <tr class="border-b border-gray-200 hover:bg-gray-500">
                                  <td class="py-3 px-6 text-center whitespace-nowrap">
                                    <a href ="{% url 'leads:category-detail' category.pk%}">
                                      <div class=" items-center">
                                          <span class="font-medium text-black">{{category.name}}</span>
                                      </div>
                                    </a>
                                  </td>
                            </tr>
                          {% endfor %}
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</section>
{% endblock content %}

