{% load static %}
{% load tailwind_filters %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CRM</title>
    <link href="{%static 'css/styles.css'%}" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class= "mt-10 max-w-5xl mx-auto">
      <div class="mb-6 text-blue-400">
        <a href="{% url 'leads:lead-list' %}" class = "text-red-400 hover:text-gray-600 ">Back to Leads</p>
      </div>
       <section class="text-gray-600 body-font overflow-hidden">
          <div class=" max-w-7xl  mx-auto">
            <div class="w-full mx-auto">
              <div class=" w-full mb-6 lg:mb-0">
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{lead.first_name}} {{lead.last_name}}</h1>
                <div class="flex mb-4">
                  <a  href ="{% url 'leads:lead-detail' lead.pk%}"class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Description</a>
                  <a href = "{% url 'leads:lead-category-update' lead.pk%}"class="flex-grow text-blue-400 border-b-2 border-blue-400 py-2 text-lg px-1">Category</a>
                  {% if request.user.is_organizer %}
                  <a  href ="{% url 'leads:lead-update' lead.pk%}"class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Edit</a>
                  {% endif %}
                </div>
                 <form method ="post">
                {% csrf_token %}
                {{form|crispy}}
                <button class = "mt-1 text-white w-full bg-gray-500 hover:bg-blue-400 px-3 py-2 rounded-md" type = "submit">Assign</button>
            </form>
                </div>
              </div>
            </div>
          </div>
</section>
    </div>
</body>
</html>