{% load static %}
{% load tailwind_filters %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CRM</title>
    <link href="{%static 'css/styles.css'%}" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class= "mt-10 max-w-7xl mx-auto">
       <div class= "max-w-lg mx-auto mb-20">
          <div class="mb-6 text-blue-400">
            <a href="{% url 'leads:lead-list' %}" class = "text-blue-400 hover:text-gray-600 ">Back to Leads</p>
          </div>
          <div>
            <h1 class = "text-2xl text-gray-800 ">Are you sure you want to delete this Lead?</h1>
          </div>
            <form class = "mt-10"method ="post">
                {% csrf_token %}
                {{form|crispy}}
                <button class = "mt-1 text-white w-full bg-gray-500 hover:bg-red-400 px-3 py-2 rounded-md"type = "submit">Delete</button>
            </form>
        </div>
    </div>
</body>
</html>